*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #E6FFFB;
	font-family: ubuntu;
}

h1{
	letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
	color: #FA630D;
}

.user{
	text-align: center;
    background: #fff;
    max-width: 960px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 10px 120px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

input[type=text] {
  width: 30%;
  border: none;
  border-bottom: 2px solid black;
}

input[type=text]:focus {
  border-bottom: 4px solid #FA630D;
}

#input {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#suggestions {
  
}

button {
  background-color: #FA630D;
  border: none;
  border-radius: 40px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

select {
  width: 20%;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  background-color: #f1f1f1;
}

table{
  margin-left: auto;
  margin-right: auto;
}

.ui-helper-hidden-accessible{
  display:none !important;
}