*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #E6FFFB;
	font-family: ubuntu;
}

h1{
	letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
	color: #FA630D;
}

.user{
	text-align: center;
    background: #fff;
    max-width: 960px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 10px 120px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

table{
  margin-left: auto;
  margin-right: auto;
}

.al{
  border: 1px solid black;
}

.alg{
  border: 1px solid black;
  padding: 15px;
}

.gender {
  position: relative;
  display: block;
  width: 20%;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;
  
  @media (min-width: 768px) {
    width: 70%;
  }